@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

canvas{
    background-color: #111;
}

.score {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.score--value{
    font-weight: 700;
    font-size: 3.5rem;
}

.menu-screen{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 2;
}

.game-over {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.final-score{
    font-size: 1.5rem;
    font-weight: 500;
}

.final-score span {
    font-weight: 700;
}

.btn-play{
    border: none;
    border-radius: 50px;
    padding: 12px 18px;
    font-size: 1rem;
    font-weight: 600;
    color: #111;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}
